.stock-item {
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 10px;
    border: 1px solid white;
    padding: 10px
  }
  
  .stock-item span {
    margin-right: 10px;
  }

